---
layout: page
title: Lab news
image: 
---

<!-- Section -->
<section>
	
	<div class="posts">
	  
{% for post in site.posts %}
		<article>
			<header class="major">
		      <h4>{{ post.date | date: "%B %d %Y" }}</h4> 
		      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2> 
	</header> 
	
	{% if post.content contains site.excerpt_separator %}
  			{{ post.excerpt }}
  			<a href="{{ post.url }}">[...] Continue reading<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			{% else %}
 			 <p>{{ post.content }}</p>
		{% endif %}
	      
			<ul class="actions">
				<li><a href="{{ BASE_PATH }}{{ post.url }}" class="button">VIEW</a></li>
			</ul>
		</article>
		
{% endfor %}		

  </div>
</section>
		
		

