<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to the MU Learning And Memory Psychophysiology Laboratory</h1>
        <p> MU LampLab - Research laboratory directed by <a href="https://psychology.missouri.edu/people/cofresi-bonilla">Dr. Roberto U. Cofresí</a> 
        <br>@ The University of Missouri
        <br> Department of Psychological Sciences
        </p>
      </header>
      
      <p><strong>  We use psychophysiological methods, especially EEG and fMRI, to study and localize the neurocognitive correlates of reward learning and memory as well as reward anticipation and consumption, including the post-ingestive consequences of drugs like alcohol. 
      While our current work is entirely in human, our research is informed by preclinical non-human animal model-based neuroscience frameworks and theories. 
      Ultimately, we aim to translate and verify basic and intervention-related findings from preclinical addiction neuroscience laboratories into the human laboratory and bridge the gap to clinical applications and testing.
      A current major research goal of the lab is to delineate the role of conditioned cue reactivity and incentive salience in eating, drinking, and drug use with a focus on alcohol use.
      </p><p>Our research is funded by the NIH (the National Institutes of Health) National Institute on Alcohol Abuse and Alcoholism (NIAAA).</p></strong>

      
      <!--<ul class="actions">
        <li><a href="/research" class="button big">Learn More</a></li>
      </ul>-->
    </div>
    <span class="image object">
      <img src="assets/images/logo2.png" alt="" />
    </span>
  </section>
  
  


<section>
	<header class="major">
		<h2>Menu</h2>
	</header>
	
	
	
	<div class="features">
		<article>
			<span class="icon fa-file-text"></span>
			<div class="content">
				<h3><a href="{{ 'publications.html' | absolute_url }}">Publications</a></h3>
			</div>
		</article>
		
		<article>
			<span class="icon fa-users"></span>
			<div class="content">
				<h3><a href="{{ 'members.html' | absolute_url }}">People</a></h3>
			</div>
		</article>
		
		<article>
			<span class="icon fa-newspaper-o"></span>
			<div class="content">
				<h3><a href="{{ 'news.html' | absolute_url }}">News</a></h3>
			</div>
		</article>
		
		<article>
			<span class="icon fa-hand-o-right"></span>
			<div class="content">
				<h3><a href="{{ 'acknowledgments.html' | absolute_url }}">Acknowledgments</a></h3>
			</div>
		</article>
		
		
		</div>
		
		
	</section>

