<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to the <br/>
        Cofresi Addiction Neuroscience Lab</h1>
        <p> @ The University of Missouri </p>
      </header>
      <p><strong> The mission of the lab is to promote bidirectional translation between preclinical non-human animal models (e.g. rats) and human laboratory models of neurobehavioral mechanisms that promote alcohol use disorder (AUD)</strong>.

</p>
      <!--<ul class="actions">
        <li><a href="/research" class="button big">Learn More</a></li>
      </ul>-->
    </div>
    <span class="image object">
      <img src="assets/images/logo.png" alt="" />
    </span>
  </section>
