<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to the <br/>
        Cofresi Addiction Neuroscience Lab</h1>
        <p> @ The University of Missouri </p>
      </header>
      <p><strong> We are a multi-disciplinary research group based in the Department of Psychological Sciences at the University of Missouri in Columbia, MO, USA. The mission of the lab is to study the persistence of motivational reactivity to cues associated with drug rewards, especially alcohol, and finding ways to attenuate it. Our research is funded by NIH (the National Institutes of Health) National Institute on Alcohol Abuse and Alcoholism (NIAAA).</strong>.

</p>
      <!--<ul class="actions">
        <li><a href="/research" class="button big">Learn More</a></li>
      </ul>-->
    </div>
    <span class="image object">
      <img src="assets/images/logo.png" alt="" />
    </span>
  </section>
