<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>  -->
        

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2><a href="https://www.cofresilab.org/">CofresiLab</a></h2>
          </header>
          
          
          <ul>
            <!-- <li><a href="{{ 'research.html' | absolute_url }}">Research</a></li> -->
            <li><a href="{{ 'publications.html' | absolute_url }}">Publications</a></li>
            <li><a href="{{ 'members.html' | absolute_url }}">Members</a></li>
            <li><a href="{{ 'news.html' | absolute_url }}">News</a></li>
            <li><a href="{{ 'acknowledgments.html' | absolute_url }}">Acknowledgments</a></li>
            
            <!-- 
            
            <li><a href="#">Etiam Dolore</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li>
              <span class="opener">Another Submenu</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li>
            <li><a href="#">Maximus Erat</a></li>
            <li><a href="#">Sapien Mauris</a></li>
            <li><a href="#">Amet Lacinia</a></li> 
            
            -->
          </ul>
        </nav>


<!-- Section -->
        <section>
          <header class="major">
            <h2>Research Studies</h2>
          </header>
          <div class="mini-posts">
            <article>
              <strong>Sips And Shapes Study</strong>
              <a href="{{ 'sipsandshapes.html' | absolute_url }}" class="image med"><img src="assets/images/SASSlogo2.png" alt="" /></a>
            </article>
          </div>
        </section>

        

        
      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <!-- <p> Comment about how to get in touch </p> -->
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <!--  <li class="fa-phone">{{ site.phone }}</li>--> 
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
             <article> <a href="{{ 'directions.html' | absolute_url }}" class="image"><img src="assets/images/marx_bldg.png" alt="" /></a></article>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{site.date}} {{ site.title }}. All rights reserved. <a href="https://github.com/andrewbanchich">Template Credit</a>.</p>
        </footer>

    </div>
  </div>
