<!DOCTYPE HTML>

<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                
                <h4> {{ page.date | date: "%B %Y" }} </h4> <br/>
              <h3><strong>{{ page.title }}</strong></h3>
              
           {{ content }}
           
        
                  
                  {% if post.img %}	
                <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}"
                style="width: auto; height: auto;max-width: 20px;max-height: 10px">
                 {% endif %}	
           
              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>


