<!DOCTYPE HTML>

<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                
  <header class="major">
			<h2> {{ page.date | date: "%B %Y" }} </h2>
	</header>
    	
<h3><strong>{{ page.title }}</strong></h3>
              
           {{ content }}
           
              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>


